<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>史上最残暴的坦克大战</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Klay-Clam/Tank/master/public/images/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/107084/46871/599ef554f629d819a06b4fa6.css' rel='stylesheet' type='text/css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jcanvas.js"></script>
    <script src="/javascripts/getMapData.js"></script>
    <script src="/javascripts/getTankData.js"></script>
    <script src="/javascripts/draw.js"></script>
    <script src="/javascripts/moveTank.js"></script>
</head>
<body>
    <div class="container">
        <div class="tips">
            <p>
                <h2>史上最残暴的坦克大战</h2><br>
                键盘 <code>W</code>、<code>S</code>、<code>A</code>、<code>D</code>控制移动方向<br>
                Space 控制射击 <br>
                <br>还在开发中...
            </p>
        </div>
        <canvas width="700" height="500" id="map">
            您的浏览器不兼容，建议使用Chrome浏览器！
        </canvas>
        <div class="scoreBoard">
            <label for="score">得分:</label>
            <span id="score">00</span>
        </div>
    </div>
    <div>
        <audio id="audio" src="https://raw.githubusercontent.com/Klay-Clam/Tank/master/public/backgroundmusics/bgm.mp3" autoplay loop></audio>
    </div>
</body>
<script>
    $("#audio")[0].volume = 0.1;
</script>
</html>