<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>史上最残暴的坦克大战</title>
    <link rel="stylesheet" href="/stylesheets/map.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jcanvas.js"></script>
    <script src="/javascripts/getMapData.js"></script>
    <script src="/javascripts/getTankData.js"></script>
    <script src="/javascripts/draw.js"></script>
</head>
<body>
    <div class="container">
        <canvas width="700" height="500" id="map">
            您的浏览器不兼容，建议使用Chrome浏览器！
        </canvas>
    </div>
</body>
</html>